.header-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  background-color: #000; 
}

.header-hero.fade-out {
  opacity: 0;
}

.header-hero.fade-in {
  opacity: 1;
}